@charset "utf-8";
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.snow {
    width: 100%;
    height: 500px;
    background: url('../image/snowman.jpg') no-repeat center/cover;
    text-align: center;
    color:white;
    padding-top: 150px;
}
.snow > *
{ margin: 20px 0;}

.snow button {
  padding: 10px 30px;
  background-color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.box{
  width: 500px;
  background-color: gainsboro;
  padding: 20px;
  margin: 20px auto;
  text-align: center;
  position: relative;
  top: -50px;
}
.formbg{
  background-color: black;
  padding: 30px;
}

form
{
 width: 600px;
 margin: 0 auto;
 background-color: white;
 padding: 30px;
}
form div label{
  display: block;
}

.w100 input, .w100 textarea .w50 input
{ 
width: 100%; 
padding: 10px;
border-radius: 5px;
}
.w50{
  float: left;
  width: 50%;
}

input[type="submit"] {
  display:block;
  background-color: yellow;
  padding: 10px;
  border-radius: 5px;
  margin-left: auto;
}