@charset "utf-8";

* { 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
    background-color: yellow;
} 
.box{
    width:600px;
    height:200px;
    text-align: center;
    line-height: 200px;
    font-weight: bold;
    font-size: 30px;
    margin:250px auto;
    background-color: white;
    transition:transform 1s, box-shadow 1s 1s;
} 


.box:hover {
    box-shadow: 10px 10px 10px gray;
    transform: scale(1.5);
}
    