@charset "utf-8";

div {
    height: 70px;
    border: 1px solid black;
    font-size: 2rem;
}

div:nth-child(1) {
    background-color: darkgreen;
}

div:nth-child(2) {
    background-color: #ff0000;
}

div:nth-child(3) {
    background-color: rgb(255, 0, 0)
}

div:nth-child(4) {
    background-color: rgb(255, 0, 0, 0.5)
}