@charset "utf-8";

.font1 {
    font-style: normal;
    font-style: italic;
}

.font2 {
    font-weight: normal;
    font-weight: bold;
    font-weight: 400;
    font-weight: 700;
}

.font3 {
    font-size: 10px;
    font-size: 0.5rem;
    font-size: 1.5em;
}