@charset "utf-8";


.fa-star-half{
font-size: 600px;
position: relative;
animation: merge 3s linear 1s;
}
@keyframes merge{
    0%{transform: translateX(0px);}
    50%{transform:translateX(345px);}
    100%{animation-play-state: paused;}
}

.fa-flip-horizontal
{
    font-size: 600px;
    position: relative;
    animation: merge2 3s linear 1s;
}

@keyframes merge2{
    0%{transform: translateX(0px) scaleX(-1);}
    50%{transform:translateX(-345px)  scaleX(-1);}
    100%{animation-play-state: paused;}
}

.fa-old-republic{font-size: 500px;
position:absolute;
top:100px;
left:430px;
animation: light1 3s linear 5s;
animation-fill-mode:forwards;
opacity: 0;
}

@keyframes light1
{
    from{transform:scale(0);
        opacity:0}
    to{transform:scale(1.2);
        opacity:1}

}
.audience{
    font-size: 200px;
    position:relative;
    top:100px;    
animation: audience1 3s linear 6s;
animation-fill-mode:forwards;
    opacity: 0;
}
@keyframes audience1
{
    from{transform:translateY(-100px);
    }
    to{transform:translateY(-50px);
        opacity:1}
    }