@charset "utf-8";

*{ margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul { list-style:none;}


.gallery{
    width: 100%;
    height:100vh;
    display: flex;
    overflow: hidden;
}

.gallery li{
    border: 1px solid #333;
    flex :1;
    transition: all .5s;
    position: relative;
}

.gallery li:hover{flex:4}

.gallery li:nth-child(1)
{background: url(../image/Carlotta/Carlotta\ Portrait\ 2\ @bizzyvoyager.jpg)no-repeat center/cover}

.gallery li:nth-child(2)
{background: url(../image/Encore/Encore\ @kurohush.jpg)no-repeat center/cover}


.gallery li:nth-child(3)
{background: url(../image/Shorekeeper/Shorekeeper\ @sayuki_9696.jpg) center/cover}


.gallery li:nth-child(4)
{background: url(../image/Jinhsi/Jinhsi\ Changli\ Sanhua\ Summer.jpg)no-repeat center/cover}


.gallery li:nth-child(5)
{background: url(../image/Phoebe/Phoebe\ Bird\ @kurohush.jpg)no-repeat center/cover}


.gallery li:nth-child(6)
{background: url(../image/Lumi/Lumi\ Zoom.jpg)no-repeat center/cover}


.gallery li:nth-child(7)
{background: url(../image/Ciaccona/Ciaccona\ Splash.jpg)no-repeat center/cover}


.gallery li .content {
    position: absolute;
    width: 100%;
    background-color: black;
    color: #fff;
    text-align: center;
    height: 200px;
    bottom: -200px;
    transition: all 1s;
}

.gallery li:hover .content {
    bottom:0;

}