@charset "utf-8";

*{margin: 0;
    padding: 0;
    box-sizing: border-box;}
.gauge
{position: fixed;
    width:100%;
    height: 10%;
border: 2px solid #ddd}

.gaugebar
{position: relative;
    height:20px;
    background-color: greenyellow
}

img{
    position: relative;
   top:-20px;
   width:5%;
   height:5%;
 }