@charset "utf-8";

*{margin: 0;
    padding: 0;
    box-sizing: border-box;}

    .bg
  {
    position: fixed;
    top:0; left:0;
    width: 100%;
    height: 100vh;
  }  
  .slide{
    position: fixed;
    top:0; left:0;
    width: 100%;
    height: 100%;
    color:aliceblue
  }
  #slide5{
    background: url(../img/stars.gif) no-repeat left top/cover;
  }
  .slide-content{
    width: 60%;
    margin: 0 auto;
    padding: 50px;
  }