@charset "utf-8";
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.section{
    max-width: 1200px;
    margin:0 auto;
}

.text{
    font-size:1.5rem;
    text-align: center;
}

header{
    padding: 3rem;
background-color: gray;
}
.container{
    display: flex;
}

.container > * {
    flex: 1 0 auto;
    padding: 10rem;
}
.main{background-color: #999;}
.side{
    background-color: #777;}

footer{
    padding:  2rem;
    background-color: #ccc;
}
@media screen and (max-width : 768px){
    .container {
        flex-direction: column;
    }
    
}