@charset "utf-8";
*{margin: 0;
padding: 0;
box-sizing: border-box;}

ul{list-style: none;}


.section{
    max-width: 800px;
    margin: 0 auto;
}
.container{
    display:flex;
}
.logo{
    flex: 1 0 auto;
    background-color: #333;
    color:white;
    text-align: center;
    line-height: 100px;
}
nav{
    flex: 3 0 auto;
}
nav ul{
    display: flex;
    justify-content: space-around;
}
nav ul li{
    line-height: 100px;
    cursor:pointer;
}

nav ul li:hover{
    text-decoration: underline;
}
.main{
    flex:2 0 auto;
    display:flex
}
.main ul {
    flex-wrap:wrap;
}
.main ul li{
    flex: 1 0 50%;
    text-align: center;
    line-height: 160px;
}
.main ul li.gray{
    background-color: #ccc;
}
.main ul li.lgray
{
    background-color: #eee;
}

.side{
    flex:1 0 auto;
    background-color: #333;
    color:white;
}
footer{
    background-color: #222;
    color: #eee;
    text-align: center;
    padding: 3rem 0;
}


@media screen and (max-width:768px){
    .container{
        flex-direction: column;
    }
    nav ul{
        flex-wrap: wrap;
    }
    nav ul li{
        width: 33.3%;
        text-align: center;
        line-height: 50px;
    }
    .main ul li:nth-child(2n){
        background-color: #eee;
    }
    .main ul li:nth-child(2n+1){
        background-color: #ccc;
    }
    .side{
        padding: 5rem 0;
        text-align: center;
    }
}