@charset "utf-8";

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.section{
    max-width: 1200px;
    margin:0 auto;
}

.text{
    font-size:1.5rem;
    text-align: center;
}
header{
    padding: 3rem;
background-color: gray;
}


.main{background-color: #999;
float:left;
width:50%;
height:500px;}

.side{background-color: #777;
    float:right;
    width:50%;
    height:500px;}

footer{
    padding:  3rem;
    background-color: #ccc;}