@charset "utf-8";
@font-face {
    font-family: lemon milk;
    src: url(../font/LEMONMILK-Bold.otf);
}

*{margin: 0;
padding: 0;
box-sizing: border-box;}

#section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:  linear-gradient(to right, green 0%, #fffd6d 100%);
}
h1{ 
    font-family: lemon milk;
    color: transparent;
    background : linear-gradient(pink, blue);
    background-clip: text;
}