@charset "utd-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}
.contact h1 {
    font-size: 60px;
    margin-bottom: 20px;
}
.contact p {
    margin-bottom: 25px;
}

input, label, textarea {
    display: block;
    width: 100%;
    padding: 10%;
}

.btn {
    width: 50%;
    margin: 30px auto;
    border: none;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: blue;
    color:aliceblue;
}